<div class="dv-body">
  <div class="dv-rectangle-bg">

    <!-- Nav Bar -->
    <nav>
      <div class="dv-logo">Your Logo</div>
      <ul>
        <li class="li-explore">Explore
        </li>
        <li class="li-about">About Us
        </li>
        <li class="li-cities">Cities <div class="li-cities-arrow"></div>
        </li>
      </ul>
      <div class="dv-rectangle-call">
        <div class="dv-btn-call">Call</div>
      </div>
    </nav>
    <!-- Nav Bar -->

    <!-- Center Message Div  -->
    <div class="dv-rethink">
      Rethink your living & renting
    </div>
    <div class="dv-make-your-stay">
      Make your stay painless with us
    </div>
    <!-- Center Message Div  -->

    <!-- Search Div  -->
    <div class="dv-search">
      <div class="dv-select-city">
        <div class="dv-label-city">
          CITY
        </div>
        <div class="dv-select-ur-city">
          Select your city
        </div>
      </div>

      <div class="dv-search-button">
        <img class="img-search" src="../assets/img/search.png">
        <div class="dv-label-search">
          Search
        </div>
      </div>
      <div class="dv-select-guests">
        <div class="dv-label-city">
          GUESTS
        </div>
        <div class="dv-select-ur-city">
          Add guests
        </div>
      </div>
      <div class="dv-select-dates">
        <div class="dv-label-city">
          DATES
        </div>
        <div class="dv-select-ur-city">
          Select your dates
        </div>
      </div>

    </div>
    <!-- Search Div  -->

    <!-- Scroll Down  -->
    <div class="dv-scroll-down"></div>
    <!-- Scroll Down  -->

  </div>
</div>